<h1> All Articles </h1>

  <div class="container">
    <h2>Article Feed</h2>
    <%=link_to "Create New Article",new_article_path, id:"tableheadlink"%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>title</th>
          <th>Description</th>
          <th>Created</th>
          <th>Edit</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
       <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.user.username%></td>
            <td><%=article.title%> </td>
            <td><%=article.description%></td>
            <td><%=time_ago_in_words(article.created_at)%></td>
            <td>
              <%=link_to edit_article_path(article) do %>
                <%= fa_icon "pencil-square-o" %>
              <% end %>
            </td>
            <td><%=link_to article_path(article) do %>
               <%= fa_icon "eye" %>
              <%end%>
            </td>
            <td><%=link_to article_path(article), method: :delete,data: {confirm: "Are you sure?"} do %>
                <%= fa_icon "trash" %>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
